@import '../../../global.scss';

.search-container {

    background-color: $primary-color-dark;
    position: relative;
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-content: center;

    .search-container-input {

        border-radius: 8px;
        line-height: 22px;
        padding: 5px;
        flex: 1;
        font-size: 14px;
    }

    .search-icon {
        position: absolute;
        right: 15px;
        top: 17px;
        cursor: pointer;
        font-size: 22px;
        background-color: white;
    }

}